.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  transition: transform 1s;
  transform: translateX(100%);
}

.mobile-menu.toggled {
  transform: translateX(0%);
}

.mobile-menu a,
.mobile-menu a:hover,
.mobile-menu a:active,
.mobile-menu a:visited {
  color: initial;
  text-decoration: none;
}

.mobile-menu ul {
  position: fixed;
  right: 0;
  margin-top: 50vh;
  transform: translateY(-50%);
  text-align: right;
}

.mobile-menu a {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  height: 10vh;
  transition: transform 0.5s;
  transform: translateX(30%);
}

.mobile-menu a:nth-child(2) {
  transform: translateX(20%);
}

.mobile-menu a:nth-child(3) {
  transform: translateX(10%);
}

.mobile-menu a:nth-child(4) {
  transform: translateX(20%);
}

.mobile-menu a:hover {
  transform: translateX(0%);
  cursor: pointer;
}

.mobile-menu a .item-text {
  font-family: 'Roboto', sans-serif;
  font-size: 6vw;
  letter-spacing: 0.8vw;
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin-right: 2vw;
}

.mobile-menu a .item-text.active {
  font-weight: bold;
}

.mobile-menu a .item-line {
  content: "";
  display: block;
  height: 1px;
  position: relative;
  top: 50%;
  width: 30vw;
  background: black;
}

@media screen and (min-width: 400px) {
  .mobile-menu a .item-text {
    font-size: 5vw;
  }
}

@media screen and (min-width: 600px) {
  .mobile-menu a .item-text {
    font-size: 4vw;
  }
}

@media screen and (min-width: 800px) {
  .mobile-menu {
    display: none;
  }
  .mobile-menu a .item-text {
    font-size: 3vw;
  }
}