.scroll-indicator {
  position: absolute;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  width: 50px;
  transform: scale(0.8);
  transform-origin: bottom;
  bottom: 0;
}

.scroll-indicator .scroll-indicator__text {
  position: relative;
  letter-spacing: 2px;
  transform: rotateZ(0.5turn);
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  writing-mode: vertical-lr;
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin-bottom: 10px;
}

.scroll-indicator .scroll-indicator__line {
  position: relative;
  height: 20vh;
  background: black;
  width: 0.26vw;
  margin: 0 auto;
}

@media screen and (min-width: 800px) {
  .scroll-indicator {
    display: none;
  }
}