.title-part,
.title {
  width: max-content;
  padding: 0px 10px;
  background: black;
  color: white;
}
.title {
  font-size: 15px;
  font-weight: bold;
  text-transform: lowercase;
  letter-spacing: 0.2rem;
}
.big {
  padding: 10px;
  font-size: 20px;
  height: auto;
}
