.blog-posts-list {
  margin-top: 6vh;
  display: grid;
  grid-template-rows: minmax(0, auto);
}
.blog-posts-list a { 
  text-decoration: none;
  color: initial;
}
.blog-posts-list a:hover { 
  text-decoration: underline;
  cursor: pointer;
}

.blog-posts-list .blog-post-link h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 6vw;
}

.blog-posts-list .blog-post-link p {
  font-family: 'Roboto', sans-serif;
  font-size: 3.5vw;
}



@media screen and (min-width: 400px) {
  .blog-posts-list .blog-post-link h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 4.5vw;
  }
  
  .blog-posts-list .blog-post-link p {
    font-family: 'Roboto', sans-serif;
    font-size: 3vw;
  }
}

@media screen and (min-width: 800px) {
  .blog-posts-list .blog-post-link h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 2vw;
  }
  
  .blog-posts-list .blog-post-link p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2vw;
  }
}
