.header {
  grid-column: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 254px 2.25rem 0.25fr auto 150px 100px;
  padding: 50px;
  align-items: flex-start;
}

.logo {
  grid-row: 1;
}
.siteTitle {
  grid-row: 2;
  color: black;
  font-weight: bold;
  margin: 0;
  letter-spacing: 0.4rem;
}
footer {
  grid-row: 6;
  letter-spacing: 0.1rem;
  font-size: 15px;
  line-height: 1rem;
  align-self: flex-end;
}
