header {
  grid-column: 2;
  height: 100vh;
  display: none;
}

.desktop-menu {
  display: none;
}

header section {
  margin-top: 50vh;
}

@media screen and (min-width: 800px) {
  header {
    display: block;
    grid-column: 2;
  }

  header section .desktop-menu {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
  }

  header section .desktop-menu a {
    display: flex;
    flex-flow: row-reverse;
    justify-content: flex-end;
    height: 0.5vh;
    transition: transform 0.5s;
    /* transform: scaleX(-30%); */
  }

  .desktop-menu a,
  .desktop-menu a:hover,
  .desktop-menu a:active,
  .desktop-menu a:visited {
    color: initial;
    text-decoration: none;
  }

  .desktop-menu a:hover .item-line {
    cursor: pointer;
  }

  .desktop-menu a .item-text {
    font-family: "Roboto", sans-serif;
    font-size: 1.2vw;
    letter-spacing: 0.2vw;
    display: flex;
    flex-flow: column;
    justify-content: center;
  }

  .desktop-menu a.active .item-text {
    font-weight: bold;
  }

  .desktop-menu a.active .item-line {
    width: 4vw;
  }

  .desktop-menu a .item-line {
    content: "";
    display: block;
    height: 1px;
    position: relative;
    top: 50%;
    width: 3vw;
    background: black;
    margin-right: 1vw;
  }
}

@media screen and (min-width: 1200px) {
  header section .desktop-menu a {
    height: 2vh;
  }
}
