.burger-menu {
  position: fixed;
  right: 10px;
  top: 10px;
  height: 20px;
  width: 30px;
  --animation-duration: 0.5s;
}

.burger-menu:hover {
  cursor: pointer;
}

.burger-menu:hover .menu-corner-stick {
  cursor: pointer;
  animation: OpenMenuCornerStickHoverAnim var(--animation-duration) forwards;
}

.burger-menu:hover .menu-middle-stick {
  cursor: pointer;
  animation: OpenMenuMiddleStickHoverAnim var(--animation-duration) forwards;
}

@keyframes OpenMenuCornerStickHoverAnim {
  to {
    transform: translateX(-30%);
  }
}

@keyframes OpenMenuMiddleStickHoverAnim {
  to {
    transform: translateX(30%);
  }
}
