.burger-menu {
  position: fixed;
  right: 2rem;
  top: 2rem;
  height: 3vw;
  width: 5vw;
  --animation-duration: 0.5s;
}

.burger-menu:hover {
  cursor: pointer;
}

.burger-menu.toggled {
  cursor: pointer;
}
.menu-corner-stick,
.menu-middle-stick {
  transition: transform var(--animation-duration);
}

.burger-menu.toggled .menu-corner-stick {
  cursor: pointer;
  transform: translateX(-30%);
}

.burger-menu.toggled .menu-middle-stick {
  cursor: pointer;
  transform: translateX(30%);
}
