.section {
  grid-column: 2;
  color: #000;
  margin-top: 50vh;
  transform: translateY(-50%);
  height: 100px;
}

.section h1 {
  font-family: "Limelight", cursive;
  font-size: 25px;
  letter-spacing: 5px;
}

.section p {
  margin-top: 15px;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}

.section .divider {
  margin-top: 15px;
}
