.section {
  grid-column: 2;
  color: #000;
  margin-top: 50vh;
  transform: translateY(-50%);
  height: 100px;
}

.section h1 {
  font-family: "Limelight", cursive;
  font-size: 25px;
  letter-spacing: 5px;
}

.section p,
.section a {
  margin-top: 15px;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}

.section .divider {
  margin-top: 15px;
}

@media screen and (min-width: 800px) {
  .section h1 {
    font-size: 35px;
  }

  .section p,
  .section a {
    font-size: 20px;
  }
}
